* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.wrapper {
  max-width: 1920px;
}

.container {
  width: 62.5%;
  margin: auto;
}

.hat {
  background: url("../img/noise-lines.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  width: 100%;
}

.hat__container {
  padding: 3.2% 0 0 0;
}

.hat__navigation {
  display: flex;
  justify-content: space-between;
}

.hat__logo {
  text-align: center;
}

.hat__logo > h1 {
  margin: 0;
  color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.06em;
}

.hat__logo > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 4.5% 0 0 0;
}

.hat__menu {
  width: 37%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hat__menu > li {
  height: 40%;
  border-bottom: 3px solid rgba(241, 205, 179, 0);
}

.hat__menu > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #fafafa;
}

.hat__menu > li:hover {
  border-bottom: 3px solid #f1cdb3;
}

.hat__menu > .hat__menu-item_active {
  border-bottom: 3px solid #f1cdb3;
}