.hat {
   background: url("../img/noise-lines.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
   width: 100%;
}

.hat__container {
   padding: 2% 0 0 0;
}

.hat__navigation {
   display: flex;
}

.hat__logo {
   & > h1 {
      margin: 0;
      color: #f1cdb3;

      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 32px;
      font-weight: normal;
   }
}

.hat__menu {
   list-style: none;

   display: flex;
}
