nav(class="hat__navigation")
  div(class="hat__logo")
      h1 Cozy House
      h2 Shelter for pets in Boston
  ul(class="hat__menu")
      li(class="hat__menu-item_active")
        a(href="#") About the shelter
      li
        a(href="#") Our pets
      li
        a(href="#") Help the shelter
      li
        a(href="#") Contacts